/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style>
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

### Neutral

- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weight: 700 */
*{
    margin:0;
    padding: 0;
   box-sizing: border-box;
}
body{
    background-image: url('images/bg-top.svg');
    background-repeat: no-repeat;
}
.container{
    text-align: center;
}
.mid-container{
    width: 80%;
    max-width: 1440px;
    height: 500px;
    margin: 50px auto;
    background:hsl(240, 78%, 98%) ;
    display: flex;
    width: 33%;
    padding: 5em;
}
.col{
    margin: 3em;
}