/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style>
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

### Neutral

- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weight: 700 */
*{
    margin:0;
    padding: 0;
   box-sizing: border-box;
}
body{
    background:hsl(240, 78%, 98%);
    
}

body{
    background:hsl(240, 78%, 98%);
    text-align: center;
  font-size: 15px;
    
}
header{
  display: flex;
  text-align: center;
}
#annually{
  display: none;
}
h1{
  margin-bottom: 100px;
}
li{
  list-style: none;
  margin: 10px;
  line-height: 1.9;
}
.container{
  display: flex;
  margin: 0 auto;
  background-color: white;
  width: 70%;
  height: 100vh;
  justify-content:center;
}
a{
  padding: 10px;
    width: 100%;
    border-radius: 10px;
    background: rgb(163,168,240);
    background: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);
    color: #F6F6FE;
}
.row{
  height: 100vh;
  width: 33.33%;
  background-color: #fff;
  color: #494C5F;
  border-radius: 20px;
}
.mid{
  height: 300px;
  background: rgb(163,168,240);
    color: #F6F6FE;
    padding-top: 40px;
    padding-bottom: 40px;
  margin-top:-20px;
  border-radius: 20px;
  }
  .attribution{
      text-align:center;
  }